{% extends "pdf.html" %}
{% block content %}
    <h1>{% if variables.pdf_header_1 %}{{ variables.pdf_header_1}}{% endif %}
        {% if variables.record_name %}{{ variables.record_name|replace("_", " ") }}{% endif %}
        {% if variables.record_user %}({{ variables.record_user }}){% endif %}
    </h1>
    {% if variables.pdf_description_text %}<p>{{ variables.pdf_description_text}}</p>{% endif %}
    {% if variables.pdf_header_2 %}<h2>{{ variables.pdf_header_2}}</h2>{% endif %}
    {% if variables.record_main_text %}{{ variables.record_main_text }}{% endif %}
{% endblock %}
