{% extends "pdf.html" %}
{% block title %}{{ variables.record_title|replace("_", " ") }}{% endblock %}
{% block author %}{{ variables.record_author }}{% endblock %}
{% block date %}{{ variables.record_date }}{% endblock %}"/>
{% block assignment_title %}{{ variables.record_assignment_title }}{% endblock %}"/>
{% block content %}
    <h1>{{ variables.pdf_h1_text}}
        {{ variables.record_name|replace("_", " ") }}
        {% if variables.record_user %}({{ variables.record_user }}){% endif %}
    </h1>
    <p>{{ variables.pdf_p_text}}</p>
    <h2>{{ variables.pdf_h2_text}}</h2>
        {{ variables.record_comment_a }}
        {{ this_info }}
{% endblock %}
