<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VirtuousLoop Feedback</title>
    <link rel="stylesheet" type="text/css" href="/static/css/single.css">
</head>
<body>
<header id="nw">{% block nw %}{% if variables.pdf_nw %}{{ variables.pdf_nw }}{% endif %}{% endblock %}</header>
<header id="ne">{% block ne %}{% if variables.pdf_ne %}{{ variables.pdf_ne }}{% endif %}{% endblock %}</header>
<footer id="sw">{% block sw %}{% if variables.pdf_sw %}{{ variables.pdf_sw }}{% endif %}{% endblock %}</footer>
<footer id="se">{% block se %}{% if variables.pdf_se %}{{ variables.pdf_se }}{% endif %}{% endblock %}</footer>
{% block content %}{% endblock %}
</body>
</html>