<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VirtuousLoop Feedback</title>
    <link rel="stylesheet" type="text/css" href="/static/css/single.css">
</head>
<body>
<header id="nw">{% block nw %}{% if options.nw %}{{ options.nw }}{% endif %}{% endblock %}</header>
<header id="ne">{% block ne %}{% if options.ne %}{{ options.ne }}{% endif %}{% endblock %}</header>
<footer id="sw">{% block sw %}{% if options.sw %}{{ options.sw }}{% endif %}{% endblock %}</footer>
<footer id="se">{% block se %}{% if options.se %}{{ options.se }}{% endif %}{% endblock %}</footer>
{% block content %}{% endblock %}
</body>
</html>