 <p><em class="text-grey strong">Do students meaningfully engage in collaboration across disciplinary/area difference?</em><br />
                {% for element in td_elements %}
                    {% if element['td_element'] == 'td_interactive' %}
                        {{ element['td_title'] }} "{{ element['td_headline'] }}": <strong class="text-ochre">{{ row['TD_Interactive'] }}</strong><br />
                        {% for level in td_levels %}
                            {% if level['td_element']|lower == element['td_element'] %}
                                {% if level['td_level'] == data['TD_Interactive'] %}
                                    {{ level['td_level_description'] }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </p>
                        <p class="padding-left"><span class="text-grey">Example from course outline:</span><br />
                        <span class="text-ochre">{{ data['TD_Interactive_Written'] }}</span></p>

                    {% endif %}
                {% endfor %}
                <p><em class="text-grey strong">Do students develop transdisciplinary problem-solving skills in broader contexts?</em><br />
                {% for element in td_elements %}
                    {% if element['td_element'] == 'td_context' %}
                        {{ element['td_title'] }} "{{ element['td_headline'] }}": <strong class="text-ochre">{{ data['TD_Context'] }}</strong><br />
                        {% for level in td_levels %}
                            {% if level['td_element']|lower == element['td_element'] %}
                                {% if level['td_level'] == data['TD_Context'] %}
                                    {{ level['td_level_description'] }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <p>{{ data['TD_Context_Written'] }}</p>
                    {% endif %}
                {% endfor %}
                <p><em class="text-grey strong">Do students develop transdisciplinary problem-solving skills through this course?</em><br />
                {% for element in td_elements %}
                    {% if element['td_element'] == 'td_integrative' %}
                        {% if row['TD_Integrative'] != '-' %}
                            {{ element['td_title'] }} "{{ element['td_headline'] }}": <strong class="text-ochre">{{ data['TD_Integrative'] }}</strong><br />
                            {% for level in td_levels %}
                                {% if level['td_element']|lower == element['td_element'] %}
                                    {% if level['td_level'] == data['TD_Integrative'] %}
                                        {{ level['td_level_description'] }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <p>{{ data['TD_Integrative_Written'] }}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for element in td_elements %}
                    {% if element['td_element'] == 'td_pluralistic' %}
                        {% if row['TD_Pluralistic'] != '-' %}
                            {{ element['td_title'] }} "{{ element['td_headline'] }}": <strong class="text-ochre">{{ data['TD_Pluralistic'] }}</strong><br />
                            {% for level in td_levels %}
                                {% if level['td_element']|lower == element['td_element'] %}
                                    {% if level['td_level'] == data['TD_Pluralistic'] %}
                                        {{ level['td_level_description'] }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <p>{{ data['TD_Pluralistic_Written'] }}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for element in td_elements %}
                    {% if element['td_element'] == 'td_change' %}
                        {% if row['TD_Change'] != '-' %}
                            {{ element['td_title'] }} "{{ element['td_headline'] }}": <strong class="text-ochre">{{ data['TD_Change'] }}</strong><br />
                            {% for level in td_levels %}
                                {% if level['td_element']|lower == element['td_element'] %}
                                    {% if level['td_level'] == data['TD_Change'] %}
                                        {{ level['td_level_description'] }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <p>{{ data['TD_Change_Written'] }}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for element in td_elements %}
                    {% if element['td_element'] == 'td_systemic' %}
                        {% if row['TD_Systemic'] != '-' %}
                            {{ element['td_title'] }} "{{ element['td_headline'] }}": <strong class="text-ochre">{{ data['TD_Systemic'] }}</strong><br />
                            {% for level in td_levels %}
                                {% if level['td_element']|lower == element['td_element'] %}
                                    {% if level['td_level'] == data['TD_Sytemic'] %}
                                        {{ level['td_level_description'] }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <p>{{ data['TD_Systemic_Written'] }}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                 <img src="charts/{{ data['Course_Code'] }}.png" />

            {% endif %}

        {% endfor %}
    {% endfor %}
{% endblock %}